<div class="font-semibold text-xl mb-4">
    <h2 class="font-semibold text-xl mb-4">Recommander pour vous</h2>
</div>

<div class="recommend-container">
    <div class="recommend-image">
        <img src="assets/general/recommend.jpg" alt="Recommandations" />
    </div>

    <div class="carousel-wrapper">
        <p-carousel [value]="products" [numVisible]="5" [numScroll]="3" [circular]="true" [autoplayInterval]="4500" [responsiveOptions]="carouselResponsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="border border-surface rounded-border m-2 p-4 recommend">
                    <div class="mb-4">
                        <div class="relative mx-auto" (click)="navigateToProductDetails(product.artId)">
                            <img src="/assets/general/product-default.png" [alt]="product.name" class="w-full rounded-border" />
                            <div class="absolute bg-black/70 rounded-border" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }">
                                <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 font-medium">{{ product.name }}</div>
                    <div class="flex justify-between items-center">
                        <div class="mt-0 font-semibold text-xl">{{ product.price + ' TND' }}</div>
                        <span>
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" (click)="navigateToProductDetails(product.artId)" />
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
