<div class="rated-section">
    <div class="section-header">
        <h2 class="font-semibold text-xl mb-4">Les plus Notés</h2>
    </div>

    <div class="rated-container">
        <div class="carousel-wrapper">
            <p-carousel [value]="ratedProducts" [numVisible]="5" [numScroll]="3" [circular]="true" [autoplayInterval]="4200" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-ratedProduct pTemplate="item">
                    <div class="border border-surface rounded-border m-2 p-4 recommend">
                        <div class="product-image-container" (click)="navigateToProductDetails(ratedProduct.article.artId)">
                            <img src="http://localhost:91/Images/{{ ratedProduct.article.artImageUrl }}" [alt]="ratedProduct.article.artIntitule" (error)="handleProductImageError($event)" class="product-image rounded-border" />
                            <div class="absolute bg-black/70 rounded-border" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }">
                                <p-tag [value]="getSeverityValue(ratedProduct.stockQuantity)" [severity]="getSeverity(ratedProduct.stockQuantity)" [icon]="getStockIcon(ratedProduct.stockQuantity)"></p-tag>
                            </div>
                        </div>
                        <div class="product-title">{{ ratedProduct.article.artIntitule }}</div>
                        <div class="flex justify-between items-center">
                            <div class="product-price">{{ getTotalPriceWithTax(ratedProduct.article) | currency: 'DT ' : 'symbol' : '1.3-3' }}</div>
                            <span>
                                <p-button (onClick)="$event.stopPropagation(); addToCart(ratedProduct.article)" icon="pi pi-shopping-cart" styleClass="ml-2" (click)="navigateToProductDetails(ratedProduct.article.artId)" />
                            </span>
                        </div>
                        <div class="product-rating">
                            <p-rating [ngModel]="ratedProduct.averageRating" [readonly]="true"></p-rating>
                            <span class="rating-count">({{ ratedProduct.ratingCount }} avis)</span>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>

        <div class="rated-image">
            <img src="assets/general/promo3.png" alt="Les plus notés" />
        </div>
    </div>
</div>
