.rated-section {
    margin-bottom: 2rem;
}

.rated-container {
    display: flex;
    align-items: center;

    width: 100%;
}

.carousel-wrapper {
    flex: 1;
    min-width: 0; /* Important pour éviter le débordement */
    order: 1; /* Premier dans l'ordre d'affichage */
}

.rated-image {
    flex: 0 0 auto;
    width: 250px;
    order: 2; /* Deuxième dans l'ordre d'affichage (à droite) */
}

.rated-image img {
    display: inline-block;
    width: 250px;
    height: 400px;
}

.recommend:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

/* Adaptatif pour les écrans plus petits */
@media (max-width: 768px) {
    .rated-container {
        flex-direction: column-reverse; /* L'image apparaît en haut sur mobile */
    }

    .rated-image {
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
    }
}
