<div class="my-4">
    <h2 class="font-semibold text-xl mb-4">Les Meilleurs Ventes</h2>

    <p-carousel [value]="products" [numVisible]="6" [numScroll]="3" [circular]="true" [autoplayInterval]="4600" [responsiveOptions]="carouselResponsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border border-surface-200 rounded-lg m-2 p-3 recommend transition-all duration-300">
                <div class="relative mb-3" (click)="navigateToProductDetails(product.artId)">
                    <div class="product-image-container">
                        <img src="http://localhost:91/Images/{{ product.artImageUrl }}" [alt]="product.artIntitule" (error)="handleProductImageError($event)" class="mx-auto object-contain h-48 w-full" />
                    </div>
                    <div class="absolute top-2 left-2">
                        <p-tag [value]="getSeverityValue(product.artEtat)" [severity]="getSeverity(product.artEtat)"></p-tag>
                    </div>
                </div>
                <div class="h-16 mb-2 font-medium text-sm overflow-hidden">{{ product.artIntitule }}</div>
                <div class="flex justify-between items-center">
                    <div class="font-semibold text-lg">{{ product.artPrixVente | currency: 'TND ' : 'symbol' : '1.0-0' }}</div>
                    <p-button icon="pi pi-shopping-cart" styleClass=" p-button-sm" (click)="navigateToProductDetails(product.artId)"></p-button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
