<div class="similars">
    <h2 class="similar-products-header">Tu peux aussi aimer</h2>

    <p-carousel [value]="products" [numVisible]="4" [numScroll]="2" [circular]="true" [autoplayInterval]="4500" [responsiveOptions]="carouselResponsiveOptions" [showIndicators]="true" [showNavigators]="true">
        <ng-template let-product pTemplate="item">
            <div class="border border-surface-200 rounded-lg m-3 p-4 product-card">
                <div class="relative mb-4" (click)="navigateToProductDetails(product.artId)">
                    <div class="product-image-container">
                        <img src="http://localhost:91/Images/{{ product.artImageUrl }}" [alt]="product.artIntitule" (error)="handleProductImageError($event)" class="mx-auto object-contain" />
                    </div>
                    <div class="stock-tag-container">
                        <p-tag [value]="getSeverityValue(product.stockQuantity)" [severity]="getSeverity(product.stockQuantity)" [icon]="getStockIcon(product.stockQuantity)"> </p-tag>
                    </div>
                </div>

                <div class="product-title">
                    {{ product.artIntitule }}
                </div>

                <div class="product-footer">
                    <div class="product-price">
                        {{ getTotalPriceWithTax(product) | currency: 'DT ' : 'symbol' : '1.3-3' }}
                    </div>
                    <p-button [disabled]="product.stockQuantity == 0" (onClick)="$event.stopPropagation(); addToCart(product)" icon="pi pi-shopping-cart" styleClass="p-button-rounded p-button-sm cart-button" (click)="navigateToProductDetails(product.artId)"> </p-button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
